/*background colour for all html pages */
body {
  background-color: #FFFFFF;
}

/* styling for navigation bar */
.navbar, a {
color: #e5e5e5;
  font-size: 20px;
  background-color: #14213d;
}

#name {
    font-size: 25px;
}


/* styling for main information box */

.container {
  color: #e5e5e5;
}

.info {
  background-color: white;
  font-size: 20px;
  padding-left: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
}

/* styling for footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #14213d;
  color: #e5e5e5;
  text-align: center;
}
