
/*background colour for all html pages */
body {
    background-color: #f0f0f5;
}


/* styling for navigation bar */
#name {
    color: white;
    font-size: 25px;
    font-weight: bold;
    background-color: black;
}
.info {
    background-color: white;
    font-size: 15px;

}

#aboutmerow {
    margin-top: auto;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color:black;
    color: white;
    text-align: center;
}
  }