
/*background colour for all html pages */
body {
    background-color: #f0f0f5;
}


/* styling for navigation bar */
#name {
    color: white;
    font-size: 25px;
    font-weight: bold;
    background: #5eb5ac;
}

nav {
    background-color: #f2f2f2;
}

section {
    background-color:black;
    color:#5eb5ac;
    padding: 10px,10px,10px,10px;
    
}

.info {
    background-color: white;
    
}